/* @media screen and (max-width: 480px){
    .faq{
        padding-left: 1rem;
    }
    .top-grid{
        padding-left: 1rem;
    }
    .topp{
        padding-left: 1rem;
    }
} */

.mid-container{
    padding: 0 20%;
}

@media screen and (max-width: 480px) {
    .mid-container{
        padding: 0 10%;
    }

}